body {
  font-family: 'Inter';
  header {
    nav {
      img {
        max-height: 50px;
      }
      .avatar {
        border-radius: 100%;
      }
    }
  }
}
#hero {
  background-color: #7550fe;
}
